{% extends "core/base.html" %} {% block content %} {% autoescape off %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-xs-12 p-1">{{ plot_div1 }}</div>
    <div class="col-sm-6 col-xs-12 p-1">{{ plot_div2 }}</div>
    <div class="col-sm-6 col-xs-12 p-1">{{ plot_div3 }}</div>
    <div class="col-sm-6 col-xs-12 p-1">{{ plot_div4 }}</div>
    <div class="col-sm-6 col-xs-12 p-1">{{ plot_div5 }}</div>
    <div class="col-sm-6 col-xs-12 p-1">{{ plot_div6 }}</div>
    <div class="col-sm-6 col-xs-12 p-1">{{ plot_div7 }}</div>
    <div class="col-sm-6 col-xs-12 p-1">{{ plot_div8 }}</div>
    <div class="col-sm-6 col-xs-12 p-1">{{ corr_fig1 }}</div>
    <div class="col-sm-6 col-xs-12 p-1">{{ fig }}</div>
  </div>
</div>
{% endautoescape %} {% endblock %}
