{% extends "core/base.html" %} {% load static %} {% block content %}
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="mb-5"><strong> Heading</strong></h1>
      <p style="color: #2a4d79">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, qui.
        Enim odit impedit, sit in, rerum quidem nostrum nulla dolores, ad
        corrupti cumque incidunt excepturi mollitia officia aspernatur molestias
        nesciunt nam? Asperiores quidem placeat dolore saepe at architecto
        repellat. Vel repellendus quae quo ea iusto dolorum unde, sunt est
        magnam iste nihil ad! Vero, cupiditate magnam ipsam vitae aut suscipit
        reprehenderit reiciendis et in eaque vel dolorum eligendi magni fugit
        aperiam, quibusdam ullam natus illum? Vero necessitatibus quod accusamus
        hic mollitia doloribus non, sunt odio. Maiores dignissimos quos
        reprehenderit architecto neque deserunt voluptatum beatae, at, ab, vitae
        molestiae aut nulla!
      </p>
    </div>
    <div class="col-4">
      <img src="{% static 'core/heading.svg' %}" alt="heading" srcset="" />
    </div>
  </div>
</div>

{% endblock %}
