{% extends "core/base.html" %} {% block content %}

<button class="btn btn-primary" onclick="location.reload()">Reload</button>

<link
	rel="stylesheet prefetch"
	href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>

<main>
	<center><h1>Dashboard</h1></center>
	<table
		id="table"
		data-toggle="table"
		data-pagination="true"
		data-search="true"
		data-filter-control="true"
		data-click-to-select="true"
		data-toolbar="#toolbar"
		class="table-responsive"
	>
		<thead>
			<tr>
				<th data-sortable="true">Symbol</th>
				<th data-sortable="true">Sector</th>
				<th data-sortable="true">Open</th>
				<th data-sortable="true">High</th>
				<th data-sortable="true">Low</th>
				<th data-sortable="true">Adj Close</th>
				<th data-sortable="true">Volume</th>
				<th>52W H</th>
				<th>52W L</th>
				<th>10D H</th>
				<th>10D L</th>
				<th>1M Avg Volume</th>
				<th>Volume Multiplier</th>
				<th>T.Zone</th>
			</tr>
		</thead>
		<tbody>
			{% for key, values in stocks.items %}
			<tr>
				<td data-label="key">
					<a href="{{key}}">{{key}}</a>
				</td>
				<td data-label="key">{{values.Sector}}</td>
				<td data-label="key">{{values.Open}}</td>
				<td data-label="key">{{values.High}}</td>
				<td data-label="key">{{values.Low}}</td>
				<td data-label="key">{{values.Close}}</td>
				<td data-label="key">{{values.Volume}}</td>
				<td data-label="key">{{values.52WH}}</td>
				<td data-label="key">{{values.52WL}}</td>
				<td data-label="key">{{values.10DH}}</td>
				<td data-label="key">{{values.10DL}}</td>
				<td data-label="key">{{values.1MAV}}</td>
				<td data-label="key">{{values.VM}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<script>
		var $table = $("#table");
		$(function () {
			$("#toolbar")
				.find("select")
				.change(function () {
					$table.bootstrapTable("destroy").bootstrapTable({
						exportDataType: $(this).val(),
						exportTypes: ["json", "xml", "csv", "txt", "sql", "excel", "pdf"],
					});
				});
		});

		var trBoldBlue = $("table");

		$(trBoldBlue).on("click", "tr", function () {
			$(this).toggleClass("bold-blue");
		});
	</script>

	{% endblock %}
</main>
