{% extends "core/base.html" %} {% block content %}
<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-money"></i>
              Transaction
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="transaction_type">Transaction Type</label>
                  <select
                    name="transaction_type"
                    id="transaction_type"
                    class="form-control"
                  >
                    <option value="">Select Transaction Type</option>
                    <option value="PhonePe">PhonePe</option>
                    <option value="Bank">Bank</option>
                    <option value="Paytm">Paytm</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="transaction_amount">Transaction Amount</label>
                  <input
                    type="text"
                    name="transaction_amount"
                    id="transaction_amount"
                    class="form-control"
                    placeholder="Enter Transaction Amount"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="transactionID">Transaction ID</label>
                  <input
                    type="text"
                    name="transactionID"
                    id="transactionID"
                    class="form-control"
                    placeholder="Enter Transaction ID"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}
